<%-include('header')%>
	<form style="width: 35%; position: absolute; top:40%;left:50%; transform: translate(-50%,-50%);" action="/login" method="POST" role="form">
		<legend>Đăng nhập</legend>
		<% if(Errors.length > 0){ %>
			<% Errors.forEach((message)=>{%>
				<div class="alert alert-danger"><%= message %></div>
			<% })%>
		<% } %>
		<input type="hidden" name="_csrf" value = <%=csrfToken %>>
		<div class="form-group">
			<label for="">Email</label>
			<input type="email" class="form-control" name="email" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="">Mật khẩu</label>
			<input type="text" class="form-control" name="passWord" placeholder="Mật khẩu">
		</div>
		<button type="submit" class="btn btn-primary">Đăng nhập</button>
	</form>
<%-include('footer')%>