<%-include('header')%>
	<div class="container">
		<div style="position: absolute; right: 40px; display: flex; align-items: center; height: 75px;">
			<h3 style="margin:0 20px 0 0;">xin chào admin</h3>
			<a style="font-size: 20px"  href="#">Đăng xuất</a>
		</div>
		<form action="" style="width: 35%; position: absolute; top:40%;left:50%; transform: translate(-50%,-50%);">
				<input type="text" placeholder="Nhập mã acces-token" aria-describedby="button-addon3" class="form-control border-0">
				<div style="display: flex; margin-top: 20px">
					<input type="text" placeholder="Nhập tin Nhắn" aria-describedby="button-addon3" class="form-control border-0">
	                <div class="input-group-append border-0">
	                  <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply</button>
	                </div>
				</div>
		</form>
	</div>
<%-include('footer')%>